    /* For jquery pie graph */ 
    div.graph
        {
            width: 400px;
            height: 300px;
            border: 0px dashed gainsboro;
        }
   

    @keyframes fadeout2
    {
    
    0% {opacity:1;}
    75% {opacity:1;}
    100% {opacity:0;}
    }

    @-moz-keyframes fadeout2 /* Firefox */
    {
    
    0% {opacity:1;}
    75% {opacity:1;}
    100% {opacity:0;}
    }

    @-webkit-keyframes fadeout2 /* Safari and Chrome */
    {
    
    0% {opacity:1;}
    75% {opacity:1;}
    100% {opacity:0;}
    }
    
    @keyframes fadeout3
    {
    0% {opacity:1;}
    100% {opacity:0;}
    }

    @-moz-keyframes fadeout3 /* Firefox */
    {
    0% {opacity:1;}
    100% {opacity:0;}
    }

    @-webkit-keyframes fadeout3 /* Safari and Chrome */
    {
    0% {opacity:1;}
    100% {opacity:0;}
    }
    
        
    @keyframes fadein3
    {
    0% {opacity:0;}
    100% {opacity:1;}
    }

    @-moz-keyframes fadein3 /* Firefox */
    {
    0% {opacity:0;}
    100% {opacity:1;}
    }

    @-webkit-keyframes fadein3 /* Safari and Chrome */
    {
    0% {opacity:0;}
    100% {opacity:1;}
    }